<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>com.aneyman.nightvision.__PHASE__</string>
<key>ProgramArguments</key><array><string>__CLI__</string><string>auto</string><string>__PHASE__</string></array>
<key>StartCalendarInterval</key><dict><key>Hour</key><integer>__HOUR__</integer><key>Minute</key><integer>__MINUTE__</integer></dict>
<key>StandardOutPath</key><string>__STATE__/launchd.log</string>
<key>StandardErrorPath</key><string>__STATE__/launchd.log</string>
</dict></plist>
